In [1]:
# Dependencies
import json
import requests
import os
import pandas as pd
import gmaps
from oc_key import oc_key
from oc_key import g_key

gmaps.configure(api_key=g_key)

In [3]:
# Load city list csv
city_list_toload = "../Resources/census_city.csv"

city_list_df = pd.read_csv(city_list_toload)
city_list_df

,Unnamed: 0,City_State,Clean_City,Population,Lat,Lng
0,243,"Kansas City, Missouri",Kansas City,481417.0,39.099727,-94.578567
1,1311,"Omaha, Nebraska",Omaha,465112.0,41.256537,-95.934503
2,1319,"Lincoln, Nebraska",Lincoln,280849.0,40.813616,-96.702596
3,1524,"St. Louis, Missouri",St. Louis,311273.0,38.627003,-90.199404
4,2265,"Jersey City, New Jersey",Jersey City,261746.0,40.717754,-74.043143
...,...,...,...,...,...,...
79,27490,"New Orleans, Louisiana",New Orleans,389648.0,29.951066,-90.071532
80,28347,"St. Paul, Minnesota",St. Paul,302760.0,44.953703,-93.089958
81,28414,"Minneapolis, Minnesota",Minneapolis,416021.0,44.977753,-93.265011
82,28450,"Boston, Massachusetts",Boston,679413.0,42.360083,-71.058880
83,28554,"Detroit, Michigan",Detroit,677155.0,42.331427,-83.045754

In [4]:
lats = city_list_df["Lat"].tolist()
longs = city_list_df["Lng"].tolist()
#lats, longs
latlongpair = zip(lats,longs)
latlongpair

In [5]:
# NEXT 5 Cells only used while testing my queries to the API - not needed in final

#latitude = 42.331427
#longitude = -83.045754

In [6]:
# Set the url for the Open Charge Map
#query_url = f"https://api.openchargemap.io/v3/poi/?output=json&client=DVProject1&countrycode=US&maxresults=500&distance=50&distanceunit=miles&verbose=false&compact=true&latitude={latitude}&longitude={longitude}&key={oc_key}"
#query_url = f"https://api.openchargemap.io/v3/poi/?output=json&client=DVProject1&countrycode=US&verbose=false&compact=true&latitude={latitude}&longitude={longitude}&key={oc_key}"


# Example url from API doc
#url = "https://api.openchargemap.io/v3/poi/?output=json&countrycode=US&maxresults=10&compact=true&verbose=false"

#print(query_url)

In [7]:
#charge_data = requests.get(query_url)
#print(charge_data.status_code)

In [8]:
#charge_json = charge_data.json()

#json.dumps(charge_json[0], indent=2)

In [9]:
#print(len(charge_json))

In [10]:
# list to capture station count per city
station_count = []

# Loop through each city and get a count of how many electric charge stations within 50 miles of center lat/long
for latlongpair in latlongpair:
    query_url = f"https://api.openchargemap.io/v3/poi/?output=json&client=DVProject1&countrycode=US&maxresults=3000&distance=50&distanceunit=miles&verbose=false&compact=true&latitude={latlongpair[0]}&longitude={latlongpair[1]}&key={oc_key}"
    charge_data = requests.get(query_url)
    charge_json = charge_data.json()
    station_count.append(len(charge_json))

In [11]:
station_count

[363,
 45,
 52,
 117,
 1178,
 232,
 235,
 1164,
 41,
 144,
 271,
 1187,
 366,
 373,
 211,
 142,
 126,
 134,
 235,
 103,
 93,
 486,
 180,
 436,
 275,
 612,
 6,
 76,
 148,
 615,
 47,
 367,
 25,
 3,
 599,
 384,
 164,
 619,
 660,
 106,
 123,
 3,
 2,
 529,
 528,
 91,
 841,
 2887,
 55,
 690,
 1623,
 700,
 2960,
 217,
 1935,
 565,
 89,
 551,
 2764,
 1747,
 1919,
 615,
 2837,
 2963,
 474,
 371,
 445,
 371,
 1111,
 788,
 143,
 179,
 126,
 569,
 35,
 34,
 42,
 112,
 1091,
 67,
 269,
 271,
 779,
 270]

In [25]:
# Add station count to the data frame and kick out a CSV
city_list_df["Number of Stations"] = station_count
city_list_df.to_csv('Results/station_count_by_city.csv', index=False)
city_list_df

,Unnamed: 0,City_State,Clean_City,Population,Lat,Lng,Number of Stations,Stations per 1k Population
0,243,"Kansas City, Missouri",Kansas City,481417.0,39.099727,-94.578567,363,1.326218
1,1311,"Omaha, Nebraska",Omaha,465112.0,41.256537,-95.934503,45,10.335822
2,1319,"Lincoln, Nebraska",Lincoln,280849.0,40.813616,-96.702596,52,5.400942
3,1524,"St. Louis, Missouri",St. Louis,311273.0,38.627003,-90.199404,117,2.660453
4,2265,"Jersey City, New Jersey",Jersey City,261746.0,40.717754,-74.043143,1178,0.222195
...,...,...,...,...,...,...,...,...
79,27490,"New Orleans, Louisiana",New Orleans,389648.0,29.951066,-90.071532,67,5.815642
80,28347,"St. Paul, Minnesota",St. Paul,302760.0,44.953703,-93.089958,269,1.125502
81,28414,"Minneapolis, Minnesota",Minneapolis,416021.0,44.977753,-93.265011,271,1.535133
82,28450,"Boston, Massachusetts",Boston,679413.0,42.360083,-71.058880,779,0.872160
83,28554,"Detroit, Michigan",Detroit,677155.0,42.331427,-83.045754,270,2.507981

In [26]:
# Get stations per 1k pop data
pop1k = city_list_df["Population"]/1000

city_list_df["Stations per 1k Population"] = pop1k/station_count
city_list_df.to_csv('Results/station_count_per1kpop.csv', index=False)
city_list_df

,Unnamed: 0,City_State,Clean_City,Population,Lat,Lng,Number of Stations,Stations per 1k Population
0,243,"Kansas City, Missouri",Kansas City,481417.0,39.099727,-94.578567,363,1.326218
1,1311,"Omaha, Nebraska",Omaha,465112.0,41.256537,-95.934503,45,10.335822
2,1319,"Lincoln, Nebraska",Lincoln,280849.0,40.813616,-96.702596,52,5.400942
3,1524,"St. Louis, Missouri",St. Louis,311273.0,38.627003,-90.199404,117,2.660453
4,2265,"Jersey City, New Jersey",Jersey City,261746.0,40.717754,-74.043143,1178,0.222195
...,...,...,...,...,...,...,...,...
79,27490,"New Orleans, Louisiana",New Orleans,389648.0,29.951066,-90.071532,67,5.815642
80,28347,"St. Paul, Minnesota",St. Paul,302760.0,44.953703,-93.089958,269,1.125502
81,28414,"Minneapolis, Minnesota",Minneapolis,416021.0,44.977753,-93.265011,271,1.535133
82,28450,"Boston, Massachusetts",Boston,679413.0,42.360083,-71.058880,779,0.872160
83,28554,"Detroit, Michigan",Detroit,677155.0,42.331427,-83.045754,270,2.507981

In [13]:
# Set up a heat map for charging stations
locations = city_list_df[["Lat","Lng"]]
stationct = city_list_df["Number of Stations"].astype(float)

In [14]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=stationct, dissipating=False, max_intensity=750, point_radius=2)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Set up a heat map for charging stations per 1k pop
locations = city_list_df[["Lat","Lng"]]
stationct = city_list_df["Number of Stations"].astype(float)
stationper1k = city_list_df["Stations per 1k Population"].astype(float)

In [24]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=stationper1k, dissipating=False, max_intensity=10, point_radius=2)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# THIS WAS A BAD IDEA - poi.json is WAY too big...


#filepath = os.path.join("Resources", "poi.json")
#with open(filepath, encoding="utf8") as jsonfile:
#    open_charge = json.load(jsonfile)

In [ ]:
# THIS WAS ALL WORKING WITH THE FULL DATA SET BUT THERE'S a CHAR ISSUE SOMEWHERE

#js = [json.loads(line) for line in open(filepath, encoding="utf8")]
#for item in js:
    #name = item.get("name")
    #businessID = item.get("business_id")

In [ ]:
#filepath = os.path.join("Resources", "poi.json")

#print(json.dumps(filepath, encoding="utf8", indent=4, sort_keys=True))